body {
  background: url("../public/desktop-wallpaper-pastels-watercolor-world-map-in-2022-world-map-2022.jpeg");
  background-size: cover;
  background-position: center;
  height: 90vh;
}
.App {
  text-align: center;
}
.App h2 {
  margin-top: 5%;
}
input {
  width: 200px;
  height: 30px;
  border-radius: 12px;
  border: none;
  box-shadow: 0 5px 20px 1px #a8a8a8, 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  margin: 2px;
  font-size: 15px;
  padding: 5px;
}
button {
  height: 40px;
  border-radius: 12px;
  border: none;
  box-shadow: 0 5px 20px 1px #a8a8a8, 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background-color: green;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 5%;
}
.card {
  background-color: white;
  border-radius: 12px;
  width: 350px;
  height: 300px;
  border: none;
  margin: 5px auto;
  box-shadow: 0 5px 20px 1px #a8a8a8, 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
